.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.title {
  text-shadow: 2px 2px 5px rgb(187, 190, 7);
  color: rgba(255, 94, 0, 0.829);
  text-align: center;
}

.card {
  background: rgb(224, 11, 11);
  border: 1px black;
  width: 12rem;
  box-shadow: 0px 5px 20px rgb(238, 222, 6);
  /*4*/
  border-radius: 10px 10px;
  margin: 1rem;
}

.card-img {
  width: 100%;
  height: auto;
  max-height: 100%;

}

.card-body {
  height: 15rem;
  border: 1px solid black;
  background-color: black;

}

.card-header {
  height: 3rem;
  text-align: center;

}

.card-footer {
  height: 5rem;
  text-align: center;
}

.card-footer p {
  text-align: right;
  padding-right: 0.5rem;


}

.card-footer a {
  text-decoration: none;
  color: black;
}