.top{
 
    background-color: #2574a9;
 
    
 
}
 
.haut {
 
    background-color: #2574a9;
 
    
 
    width: px
 
}
 
.middle{
 
    background-color: #9A12B3;
 
    
 
}
 
.milieu{
 
    background-color: #9A12B3;
 
    
 
    width: px
 
}
 
.down {
 
    background-color: #DB0A5B;
 
}
 
.bas {
 
    background-color: #DB0A5B;
 
    width: px
 
}